# .gitignore

# Hide the literature folder
Literature/

# Hide your Python env
myenv/

output/

# Hide xBD folder
data/

.cursorignore

experiments/
# You can also ignore other common files:
__pycache__/
*.pyc